@import './base.css';

#app {
  flex-grow: 1;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@page {
  size: auto;   /* auto is the initial value */
  margin: 10mm;  /* this affects the margin in the printer settings */
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}